<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:gray;">
    <div class="text-center">
        <h1 style="padding:50px;color:#33ccff;">
            <b>LOGIN</b>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color:rgba(255,255,255,0.5);">
            <form method="post" action="login" style="padding-top:50px;text-align:center;padding-bottom:120px">
                {% csrf_token %}
                <input type="text" name="username" placeholder="username"><br><br>
                <input type="password" name="password" placeholder="password"><br><br>
                <input type="submit" class="btn btn-primary"><br>
                <a href="register">Register</a>
            </form>
            <p style="text-align:center;color:red;">
                {% for msg in messages %}
                    {{msg}}
                {% endfor %}
            </p>
            <br><br>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>